.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.Register d-flex flex-column w-50 gap-5 input{
    background-color: #64eeb9;
}